.incomeexpense{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0;
    /* background-color: pink; */
}
.incomeexpense__moneyplus,.incomeexpense__moneyminus{
    flex: 1;
    text-align: center;
}
.plus{
    color:#2ecc71;
}
.minus{
   
    color: #c0392b ;
}